@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* body */
body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}


.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-size: 18px;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7; 
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color:#FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#ECD6C4;
}

.conteudo-principal-escrito-botao {
  background: #ECD6C4;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0.8em;
  width: 25%;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-secundario-titulo {
  font-family: 'Righteous', sans-serif;
  font-weight: 700;
  color: #FFF2E7;
  padding: 32px 0;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ECD6C4;
  margin-bottom: 15px;
}

/* macacagens do luiz */

.conteudo-secundario-paragrafo:last-child {
  margin-bottom: 0;
}


.rodape {
  padding: 32px;
  border-top: 0.4px solid #FFF2E7;
}

/* macacagens da ballarini: alinhamento de um item somente no footer */

.rodape-imagem {
  display: block;
  height: 48px;
  width: auto;
  margin: 0 auto;
}